h1 {
  text-align: center;
  text-decoration: underline;
}

h2 {
  margin: 4px 2px;
}

h3 {
  margin: 3px 2px;
}

li {
  text-align: left;
}

#Pantry_Items {
  text-align: center;
  background-color: rgb(48, 187, 1);
  width: 72.5vw;
  border: 1px solid black;
}

#Canned {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(143, 249, 148);
  width: 25vw;
  height: 20vw;
  margin: 0.5vw 0.5vw 1vw 0;
  border: 1px solid black;
}

#Dry_Goods {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(143, 249, 148);
  width: 25vw;
  height: 20vw;
  margin: 0.5vw 0.5vw 1vw 0;
  border: 1px solid black;
}

#Freezer_Items {
  text-align: center;
  background-color: lightskyblue;
  width: 72.5vw;
  border: 1px solid black;
}

#Snacks {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(128, 249, 243);
  width: 25vw;
  height: 20vw;
  margin: 0.5vw 0.5vw 0 0;
  border: 1px solid black;
}

#Veggies {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(128, 249, 243);
  width: 25vw;
  height: 20vw;
  margin: 0.5vw 0.5vw 0 0;
  border: 1px solid black;
}

#Freezer {
  display: inline-block;
  vertical-align: middle;
  width: 20vw;
  height: 20vw;
  margin: 0.5vw 0 0 0;
  padding: 0.5vw;
}

#Pantry {
  display: inline-block;
  vertical-align: middle;
  width: 20vw;
  height: 20vw;
  margin: 0.5vw 0.5vw 1vw 0;
  padding: 0.5vw;
}
